<div class="about d-flex flex-row w-100">
    <div class="about-container w-70 d-flex flex-column">
        <div class="d-flex justify-content-center align-items-center">
            <p style="color:#10225e; font-size: 24px;"><b><u>ABOUT US</u></b></p>
        </div>
        <p style="color:#10225e; font-size: 14px;"><b>Agency Profile</b></p>
        <div class="d-flex flex-column border-right">
            <label class="text-content">
                Tibiao Water Billing was established in 2020 following the enactment of the new ordinance 2022. It had been upgraded over past years  but nowadays the manual way they are using has not met their standards. This water billing system was the first one that has been established with users. From a population of 200+ customers and growing more than that, The engineering office in charge is looking to modernize the system to make it more convenient. The aim is to transition from the Tibiao Water Billing to a Web-based Water Billing System for LGU Tibiao, which will include SMS notification features for easier bill distribution. This upgrade will enable clear communication and clarification between the client and customer regarding their monthly water bills.
<br>
<br>
                The new system aims to reduce workload and speed up processes. It will also integrate predictive analytics and SMS notifications to provide further assistance.
            </label>
            <br>
           
        </div>
        <br>
    </div>
    <div class="d-flex flex-column w-30 right">
        <div class="about-container-right d-flex flex-column">
            <label style="color:#10225e; font-size: 14px;"><b>MISSION</b></label>
            <div class="divider"></div>
            <label class="text-content-right">
                To enable and strengthen the capabilities of the community for effective and efficient use of resources in the delivery of basic services, provision of economic support facilities and protection of environment through transparency and accountability in the local government unit
            </label>
        </div>
        <div class="about-container-right d-flex flex-column">
            <label style="color:#10225e; font-size: 14px;"><b>VISSION</b></label>
            <div class="divider"></div>
            <label class="text-content-right">
                An ideal eco-adventure destination in the Province of Antique with empowered, progressive, healthy, peaceful and resilient Tibiaoanons living in a sustainable environment through transparent and responsive local governance
            </label>
        </div>
        <div class="about-container-right d-flex flex-column">
            <label style="color:#10225e; font-size: 14px;"><b>OBJECTIVES AND PURPOSE</b></label>
            <div class="divider"></div>
            <label class="text-content-right">
                1. Develop and implement an effective web-based system for LGU-Tibiao to automate the process of bill generation and distribution, making the billing process more efficient and accurate.
<br>
<br>
                2. Establish a streamlined and efficient system for the bill payment process within the Engineering’s Office and the Treasurer’s Office, improving the overall collection and payment process for water bills.
<br>
<br>
                3. Establish a centralized and secure database system to ensure the confidentiality and integrity of consumer information and billing data.
<br>
<br>
                4. Integrate an SMS notification system to effectively notify consumers of their notice of disconnections, ensuring that consumers are promptly informed about any potential service interruptions.
<br>
<br>
                5. To evaluate the system using the ISO/IEC 20150 standards.
</label>
        </div>
    </div>
</div>
<style>
    .right {
        gap: 20px !important;
    }

    .divider {
        margin-top: 5px !important;
        margin-bottom: 5px !important;
        background-color: #16307b !important;
        height: 5px;
    }

    .w30 {
        width: 30% !important;
    }

    .text-content {
        text-indent: 20px;
        color: black;
        font-size: 12px;
        text-align: justify;
        text-justify: inter-word;
    }

    .text-content-right {
        padding: 5px;
        text-indent: 10px;
        color: black;
        font-size: 12px;
        text-align: justify;
        text-justify: inter-word;
    }

    label {
        font-size: 14px;
    }

    .about {
        background-color: white;
        background-image: url("./public/images/sample_logo.png");
        background-attachment: fixed;
        background-size: auto 80%;
        background-position: center;
        background-repeat: no-repeat;
        padding: 100px;
        gap: 20px;
    }

    .about-container {
        padding: 20px;
        background: rgba(255, 255, 255, 80%);
        border: 2px solid #d3d3d3;
        border-radius: 5px;
    }

    .about-container-right {
        padding: 10px;
        background: rgba(255, 255, 255, 80%);
        border: 2px solid #d3d3d3;
        border-radius: 5px;
    }

    .border-right {
        padding-left: 10px;
        border-left: 4px solid #153089 !important;
    }

    @media screen and (max-width: 1000px) {
        .about {
            display: flex !important;
            flex-direction: column !important;
            padding: 10px !important;
            margin-top: 70px;
        }

        .about div {
            width: 100%;
        }
    }

    @media screen and (max-width: 560px) {
        .about {
            background-size: auto 60% !important;
        }

        @media screen and (max-width: 419px) {
            .about {
                background-size: auto 45% !important;
            }
</style>