<div class="contact d-flex justify-content-center align-items-center">
    <div class="contact-container d-flex flex-column">
        <label class="head-title" style="font-size: 20px;"><b>CONTACT INFORMATION</b></label>
        <div class="divider"></div>
        <label class="contact-text"><b>Customer Service Hotline No.:</b></label>
        <p class="contact-text">(+63) 999 999 9999</p>
        <label class="contact-text"><b>Office Land Line No.:</b></label>
        <p class="contact-text">999-999-9999</p>
        <label class="contact-text"><b>Office Address</b></label>
        <p class="contact-text">
            <label>Web Based Water Billing System of LGU-Tibiao</label>
            <br>
            <label>Barangay</label>
            <br>
            <label>Tibiao, Antique ZIp Code</label>
        </p>
        <label class="contact-text"><b>Offical Email Address:</b></label>
        <p class="contact-text">tibiao@yahoo.com</p>
    </div>
</div>
<style>
    p
    {
        padding: 10px;
        margin-left: 40px;
    }
    .contact-text
    {
        padding-left: 40px;
        font-size: 14px;
    }
    .head-title
    {
        color: #16307b;
    }
    .contact
    {
        background-image: url("./public/images/sample_logo.png");
        background-attachment: fixed;
        background-size: auto 80%;
        background-position: center;
        -moz-border-radius: 50% !important;
        background-repeat: no-repeat;
        background-color: white;
        height: 100vh;
    }
    .contact-container
    {
        padding: 15px;
        height: 60%;
        width: 70%;
        background: rgba(255, 255, 255, 80%);
        border: 2px solid #d3d3d3;
        border-radius: 5px;
    }
    .divider
    {
        margin-top: 5px !important;
        margin-bottom: 5px !important;
        background-color: #16307b !important;
        height: 10px !important;
    }
    @media screen and (max-width: 1000px) {
        .contact-container
        {
            width: 100% !important;
           
        }
        .contact
        {
             padding: 10px !important;
        }
    }
    @media screen and (max-width: 560px) {
    .contact
    {
        background-size: auto 60% !important; 
    }
    @media screen and (max-width: 419px) {
    .contact
    {
        background-size: auto 45% !important; 
    }
</style>