<div class="faqs d-flex justify-content-center align-items-center">
    <iframe
        id="iframe"
        src="./public/Files/FAQS.pdf"
        frameBorder="0"
        scrolling="auto"
        height="100%"
        width="90%"
        >
    </iframe>
</div>
<style>
    .faqs
    {
        position: relative;
        padding-top: 70px;
        height: 100vh;
        background-color: white;
        padding-bottom: 20px;
        width: 100%;
    }
</style>