<div class="context d-flex flex-column" id="home">
  <div class="home p-100 w-100 d-flex flex-row justify-content-center">
    <div class="home-left w-60 d-flex align-items-center">
      <div class="upper w-100 d-flex flex-row align-items-center" style="height: 70%;">
        <div class="home-left-logo w-25">
          <img class="img" src="../public/images/sample_logo.png" style="border-radius: 50%;" />
        </div>
        <div class="home-left-content w-75">
          <div class="d-flex flex-column justify-content-center">
            <div class="welcome">
              <p style="font-size: 28px;">WELCOME TO</p>
            </div>
            <div>
              <p style="font-size: 46px;"><b>Web Based Water Billing System of LGU-Tibiao</b></p>
            </div>
            <div>
              <p style="font-size: 24px;">
                Barangay,<br>
                Tibiao, Antique<br>
                Tel: 999 999 999
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home-right w-15 d-flex flex-column align-items-center">
      <div class="logo-round d-flex justify-content-center align-items-center">
        <img class="img" src="../public/images/logo_seal.png">
      </div>
      <p class="logo-title">Transparency Seal</p>
      <div class="logo-round d-flex justify-content-center align-items-center">
        <img class="img" src="../public/images/logo_gov.png">
      </div>
      <p class="logo-title">ww.foi.gov.ph</p>
      <div class="logo-round d-flex justify-content-center align-items-center">
        <img class="img" src="../public/images/logo_data.png">
      </div>
      <p class="logo-title">BWD Data Privacy Statement</p>
    </div>
  </div>
</div>
<div class="about d-flex flex-column align-items-center" id="about">
  <div class="d-flex justify-content-center w-100">
    <div style="font-size: 40px;margin-bottom:10px;"><b><u>ABOUT</u></b></div>
  </div>
  <div class="w-80 d-flex justify-content-start">
    <p style="font-size: 16px;"><b>
        About
        <br>
      </b></p>
  </div>
  <br>
  <br>
  </b>
<div class="d-flex justify-content-center align-items-center">
  <a href="/aboutus" class="btn btn-primary"><u>Read More</u></a>
</div>
</div>
<div class="services d-flex flex-column" id="services">
  <p class="service-title d-flex justify-content-center" style="font-size: 45px;color:white;"><b>SERVICES</b></p>
  <div class="d-flex flex-column pl-5 pr-5">
    <div class="d-flex flex-row pa-5 service-con">
      <div class="d-flex flex-column gap-4 content-service w50p">
        <p class="service-title d-flex" style="font-size: 40px;color:white;"><b>Pay Bill</b></p>
        <p class="service-title d-flex justify-content-center" style="font-size: 20px;color:white;">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
      </div>
      <div class="d-flex justify-content-center align-items-center w50p">
        <div class="circle">
          <img class="logo-service" src="../public/images/payment.png" />
        </div>
      </div>
    </div>

    <div class="d-flex flex-row pa-5 service-con">
      <div class="d-flex justify-content-center align-items-center w50p">
        <div class="circle">
          <img class="logo-service" src="../public/images/folder.png" />
        </div>
      </div>
      <div class="d-flex flex-column gap-4 content-service w50p">
        <p class="service-title d-flex" style="font-size: 40px;color:white;"><b>Transaction</b></p>
        <p class="service-title d-flex justify-content-center" style="font-size: 20px;color:white;">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
      </div>
    </div>

    <div class="d-flex flex-row pa-5 service-con">
      <div class="d-flex flex-column gap-4 content-service w50p">
        <p class="service-title d-flex" style="font-size: 40px;color:white;"><b>Complaint & Request</b></p>
        <p class="service-title d-flex justify-content-center" style="font-size: 20px;color:white;">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
      </div>
      <div class="d-flex justify-content-center align-items-center w50p">
        <div class="circle">
          <img class="logo-service" src="../public/images/printing.png" />
        </div>
      </div>
    </div>
    
  </div>
  {{!-- <div class="w-100 white-bar d-flex align-items-center justify-content-center">
    <div class="white-bar-bar w-100 d-flex justify-content-center align-items-center">
      <div class="shadow mb-5 bg-white rounded d-flex flex-column justify-content-center align-items-center">
        <div class=" d-flex justify-content-center align-items-center">
          <img class="logo-service" src="../public/images/payment.png" />
        </div>
        <p><b>Pay Bills</b></p>
        <a style="height: 40px;" class="btn btn-primary" href="/paybills">PROCEED</a>
      </div>
      <div class="shadow mb-5 bg-white rounded d-flex flex-column justify-content-center align-items-center">
        <div class=" d-flex justify-content-center align-items-center">
          <img class="logo-service" src="../public/images/folder.png" />
        </div>
        <p><b>Transactions</b></p>
        <a style="height: 40px;" class="btn btn-primary" href="/transactions">PROCEED</a>
      </div>
      <div class="shadow mb-5 bg-white rounded d-flex flex-column justify-content-center align-items-center">
        <div class=" d-flex justify-content-center align-items-center">
          <img class="logo-service" src="../public/images/printing.png" />
        </div>
        <p style="text-align: center;"><b>Complaints &amp; Request</b></p>
        <a style="height: 40px;" class="btn btn-primary" href="/complaints">PROCEED</a>
      </div>
    </div>
  </div> --}}
</div>
<div class="services2 d-flex flex-column">
  <p class="service-title d-flex justify-content-center" style="font-size: 45px;color:white;"><b>SERVICES</b></p>
  <div class="shadow mb-5 bg-white rounded d-flex flex-column justify-content-center align-items-center">
    <div class=" d-flex justify-content-center align-items-center">
      <img class="logo-service" src="../public/images/payment.png" />
    </div>
    <p><b>Pay Bills</b></p>
    <a style="height: 40px;" class="btn btn-primary" href="/paybills">PROCEED</a>
  </div>
  <div class="shadow mb-5 bg-white rounded d-flex flex-column justify-content-center align-items-center">
    <div class=" d-flex justify-content-center align-items-center">
      <img class="logo-service" src="../public/images/folder.png" />
    </div>
    <p><b>Transactions</b></p>
    <a style="height: 40px;" class="btn btn-primary" href="/transactions">PROCEED</a>
  </div>
  <div class="shadow mb-5 bg-white rounded d-flex flex-column justify-content-center align-items-center">
    <div class=" d-flex justify-content-center align-items-center">
      <img class="logo-service" src="../public/images/printing.png" />
    </div>
    <p style="text-align: center;"><b>Complaints &amp; Request</b></p>
    <a style="height: 40px;" class="btn btn-primary" href="/complaints">PROCEED</a>
  </div>
</div>
<div class="contact d-flex flex-row justify-content-center align-items-center">
  <div class="mb-5 contacts contact-left w-30 d-flex flex-column p-4">
    <p class="text-center" style="font-size: 24px;"><b>Contact Us</b></p>
    <div class="divider-black w-100"></div>
    <p class="c" style="height: 10px;"><b>Address</b></p>
    <label class="c">Barangay, Tibiao, Antique</label>
    <p class="c" style="height: 10px;"><b>Contact Number</b></p>
    <label class="text-center">(999) 999 9999</label>
    <label class="text-center">(+63) 999 999 9999</label>
    <p class="c" style="height: 10px;"><b>Email</b></p>
    <label class="c">tibiao@yahoo.com</label>
    {{!-- <label class="c"><a
        href="https://www.facebook.com/bayambangwaterdistrict">https://www.facebook.com/bayambangwaterdistrict</a><label>
        --}}
  </div>
  <div class="mb-5 contacts contat-right w-30 d-flex flex-column align-items-center p-4">
    <p style="font-size: 24px;"><b>Office Hours</b></p>
    <div class="divider-black w-100" style="height:12px;"></div>
    <div style="height: 100%;"
      class="office-container d-flex flex-column justify-content-center align-items-center gap-4">
      <div class="office-head" style="font-size: 24px;"><b><u>MONDAY TO FRIDAY</u></b></div>
      <div class="d-flex flex-row justify-content-center align-items-center gap-4">
        <div>&#x25cf;</div>
        <div style="font-size: 30px;">8AM - 5PM</div>
        <div>&#x25cf;</div>
      </div>
      <div class="office-head" style="font-size: 24px;"><b><u>SATURDAY &amp; SUNDAY</u></b></div>
      <div class="d-flex flex-row justify-content-center align-items-center gap-4">
        <div>&#x25cf;</div>
        <div style="font-size: 30px;">CLOSED</div>
        <div>&#x25cf;</div>
      </div>
    </div>
  </div>
</div>
<div class="footer d-flex flex-column justify-content-center align-items-center">
  {{!-- <div><img style="height: 70px !important;" src="../public/images/baywad-final.png" /></div> --}}
  <div class="footer-text1">
    <p>Barangay, Tibiao, Antique ZIP Code</p>
  </div>
  <div class="divider-white w-100"></div>
  <div class="footer-text2">
    <p style="font-size: 18px;">&copy 2024 Copyright. Web Based Water Billing System of LGU-Tibiao | Tibiao, Antique</p>
  </div>
</div>
</div>
<style>
  .circle {
    width: 300px;
    height: 300px;
    border-radius: 50%; /* Create a circle */
    background-color: #ffffff; /* Background color for the circle */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for depth */
    overflow: hidden; /* Ensure the image doesn't overflow the circle */
  }
   .circle img {
    width: calc(100% - 40px); /* Adjust image size to include padding */
    height: calc(100% - 40px);
    padding: 30px; /* Padding around the image */
    object-fit: cover; /* Ensure the image covers the space */
  }
  .service-con
  {
    height: auto;
    padding-left: 10rem;
    padding-right: 10rem;
    width: 100%;
  }
  .w50p
  {
    width: 50%;
  }
  .btn {
    padding: 10px;
  }

  .contacts .c {
    padding-left: 40px;
    word-wrap: break-word !important;
  }

  .divider-black {
    height: 10px;
    background-color: black;
    margin-bottom: 10px;
  }

  .divider-white {
    height: 2px;
    background-color: white;
    margin-bottom: 10px;
  }

  .footer {
    height: 200px;
    margin-bottom: -25px;
    background-image: linear-gradient(#c5d1fb, #7072ce);
    ;
  }

  .contacts {
    background-color: white;
    box-shadow: 0 2px 2px 2px rgb(175, 173, 173);
    margin: 40px;
    height: 80%;
  }

  .contact {
    height: 500px;
    background-color: #000270;
    gap: 5rem;
  }

  .justify-content-around .w25 {
    width: 25% !important;
  }

  .download {
    background-image: url("./public/images/baywad-download-b.png");
    background-position: 0% 0%;
    background-size: 100% 100%;
    height: 500px;
  }

  .download-app {
    font-size: 20px;
    margin-top: 400px;
    margin-left: 120px;
    border: unset;
    height: 60px;
    width: 400px;
    padding: 15px;
    text-align: center;
    justify-self: center;
    text-decoration: none !important;
    background-color: #d3d3d3;
  }

  .image-app {
    background-color: white;
    height: 600px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .logo-service {
    width: 40%;
  }

  .shadow {
    min-height: 300px !important;
    height: auto !important;
    width: 13%;
    padding-top: 20px;
  }

  .white-bar div {
    margin-top: 40px;
  }

  .white-bar {
    height: 400px;
    margin-top: -50px;
    position: relative;
  }

  .white-bar-bar {
    background-color: white;
    height: 30%;
    gap: 100px;
  }

  .services {
    height: auto;
    padding-top: 20px;
    background-color: #153089;
  }

  .services2 {
    background-color: #153089;
  }

  .about div p {
    text-indent: 50px;
    text-align: justify;
    text-justify: inter-word;
  }

  .about {
    height: auto;
    padding-top: 50px;
    background-color: white;
  }

  .home-left-content p {
    padding-left: 20px;
    color: white !important;
    margin: unset !important;
  }

  .logo-title {
    color: black !important;
    font-size: 12px;
  }

  .logo-round {
    border-radius: 50%;
    width: 100%;
    height: 30%;
  }

  .logo-round img {
    width: 60%;
  }

  .home-right {
    background-color: white;
  }

  .home {
    height: 600px;
    background-color: #153089;
  }

  .home p {
    color: white;
  }

  .context {
    height: auto !important;
    margin-top: 70px;
    overflow: auto;
  }

  @media screen and (min-width: 1001px) {
    .services {
      display: block !important;
    }

    .services2 {
      display: none !important;
    }

    .app-download {
      display: none !important;
    }
  }

  @media screen and (max-width: 1000px) {
    .home {
      display: flex !important;
      flex-direction: column !important;
      height: auto;
    }

    .upper {
      width: 100% !important;
      display: flex !important;
      flex-direction: column !important;
    }

    .upper .home-left-content {
      padding-bottom: 10px;
      text-align: center !important;
      width: 90% !important;
    }

    .home-left {
      padding-top: 10px;
      width: 100% !important;
    }

    .home-right {
      width: 100% !important;
      padding: 20px;
    }

    .about {
      height: auto;
    }

    .services {
      display: none !important;
    }

    .services2 {
      align-items: center;
      display: flex !important;
      height: auto;
      width: 100%;
    }

    .shadow {
      width: 60% !important;
    }

    .services2 .btn {
      padding: 5px !important;
    }

    .home-left-logo {
      width: 40% !important;
    }

    .image-app {
      display: none;
    }

    .app-download {
      height: auto;
      display: flex !important;
    }

    .app-download {
      background-image: url("./public/images/imageapp.webp");
      background-repeat: no-repeat;
      background-size: cover;
    }

    .download-app {
      width: 80% !important;
      margin-top: 10px !important;
      margin-left: unset !important;
      margin-bottom: 20px;
      font-size: 18px;
    }

    .contact {
      display: flex !important;
      height: auto;
      gap: 0px;
      flex-direction: column !important;
    }

    .contact div {
      width: 90% !important;
    }

    .office-container {
      width: 100% !important;
      display: flex !important;
      align-items: center !important;
    }

    .office-container div {
      width: 100% !important;
      text-align: center;
    }

    .contact-left {
      display: flex !important;
      align-items: center !important;
    }

    .contacts .c {
      width: 90% !important;
      word-wrap: break-word !important;
      padding: unset !important;
      margin-bottom: 10px;
    }

    .office-head {
      width: 100% !important;
    }

    .footer {
      height: auto;
      padding-top: 10px;
    }

    .footer-text1 {
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
    }

    .footer-text2 {
      padding: 10px;

      padding-top: unset;
      text-align: center;
    }

    .footer-text2 p {
      font-size: 13px !important;
    }
  }
</style>