<div class="services d-flex flex-column justify-content-center align-items-center" id="services">
    <p class="title-serv"><b>SERVICES</b></p>
    <div class="cards d-flex flex-row justify-content-center align-items-center h-75">
        <div class="shadow mb-5 bg-white rounded d-flex flex-column justify-content-center align-items-center">
            <div class=" d-flex justify-content-center align-items-center">
                <img width="65%" src="../public/images/bill-icon.png" />
            </div>
            <p><b>My Bills</b></p>
            <a style="height: 40px;" class="btn btn-primary" href="/mybills">PROCEED</a>
        </div>
        {{!-- <div class="shadow mb-5 bg-white rounded d-flex flex-column justify-content-center align-items-center">
            <div class=" d-flex justify-content-center align-items-center">
                <img class="logo-s" src="../public/images/payment.png" />
            </div>
            <p><b>Pay Bills</b></p>
            <a style="height: 40px;" class="btn btn-primary" href="/paybills">PROCEED</a>
        </div> --}}
        <div class="shadow mb-5 bg-white rounded d-flex flex-column justify-content-center align-items-center">
            <div class=" d-flex justify-content-center align-items-center">
                <img class="logo-s" src="../public/images/folder.png" />
            </div>
            <p><b>Transactions</b></p>
            <a style="height: 40px;" class="btn btn-primary" href="/transactions">PROCEED</a>
        </div>
        {{!-- <div class="shadow mb-5 bg-white rounded d-flex flex-column justify-content-center align-items-center">
            <div class=" d-flex justify-content-center align-items-center">
                <img class="logo-s" src="../public/images/copy.png" />
            </div>
            <p><b>Water Bill Inquiry</b></p>
            <a style="height: 40px;" class="btn btn-primary" href="#">PROCEED</a>
        </div> --}}
        <div class="shadow mb-5 bg-white rounded d-flex flex-column justify-content-center align-items-center">
            <div class=" d-flex justify-content-center align-items-center">
                <img class="logo-s" src="../public/images/printing.png" />
            </div>
            <p class="com"><b>Complaints</b></p>
            <a style="height: 40px;" class="btn btn-primary" href="/complaints">PROCEED</a>
        </div>
    </div>
    <div class="d-flex align-items-end w-100">
        <div class="footer d-flex flex-column justify-content-center align-items-center w-100">
            {{!-- <div><img style="height: 70px !important;" src="../public/images/baywad-final.png" /></div> --}}
            <div class="footer-text1">
                <p>Barngay, Tibiao, Antique ZIP code</p>
            </div>
            <div class="divider-white w-100"></div>
            <div class="footer-text2">
                <label>&copy 2024 Copyright. Web Based Water Billing System of LGU-Tibiao | Tibiao,
                    Antique</label>
            </div>
        </div>
    </div>
</div>
<style>
    .shadow {
        margin: 20px;
        padding: 20px;
        width: 15%;
    }

    .logo-s {
        width: 80%;
    }

    .divider-white {
        height: 2px;
        background-color: white;
        margin-bottom: 10px;
    }

    .footer {
        height: 180px;
        background-image: linear-gradient(#c5d1fb, #7072ce);
    }

    .card-holder {
        background-color: #153089;
    }

    .services {
        padding-top: 70px;
        background-color: #153089;
        height: 100vh;
        gap: 40px;
    }
    .title-serv
    {
        font-size: 30px !important;
        color: white;
        padding-top: 50px;
    }
    .com
    {
        text-align: center;
    }

    @media screen and (max-width: 1000px) {
        .cards {
            display: flex !important;
            flex-direction: column !important;
        }

        .shadow {
            width: 50% !important;
        }

        .services {
            margin-top: 0px;
            height: auto;
        }
        .title-serv
        {
            padding-top: 20px;
            margin-bottom: -30px;
        }
        .footer {
            height: auto;
            padding-top: 10px;
        }

        .footer-text1 {
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
        }

        .footer-text2 {
            padding: 10px;

            padding-top: unset;
            text-align: center;
        }

        .footer-text2 label {
            font-size: 13px !important;
        }
    }
</style>